<?xml version="1.0" encoding="utf-8"?><settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" AutoUpdateAM2R="true" AutoUpdateLauncher="true" Language="Default" MusicHQPC="false" MusicHQAndroid="false" MirrorIndex="0" ProfileIndex="0" CustomMirrorEnabled="false" CustomMirrorText="" ProfileDebugLog="true" CustomEnvVar="" Width="1366" Height="744" IsMaximized="false" />