braveSoftware
Joplin
Thunar
configstore
dconf
dmenu/dmenu
dmenu/dmenu.o
dmenu/drw.o
dmenu/stest
dmenu/stest.o
dmenu/util.o
dolphin-emu
joplin-desktop
keepassxc
s6u/rc
doom.d/private.el
curseddelta/
whatsdesk/
@joplin/
AM2R/logs/Community Updates (Latest).txt.1
AM2R/logs/Community Updates (Latest).txt.2
AM2R/logs/Community Updates (Latest).txt.3
AM2R/logs/Community Updates (Latest).txt.4
BraveSoftware/
Cryptomator/
Debauchee/
DeltaChat.bak/
DeltaChat/
Element-Nightly/
Element/
GIMP/
IJHack/
KDAB/
Kitware/
LycheeSlicer/
QtProject.conf
Upscayl/
autorandr/
bibisco/
birdtray-config.json
blender/
brittany/
browsh/
btop/
cabal/
calibre/
cef_user_data/
chromium/
clojure/
cni/
direnv/
dists/
doom.d/config.org.bak
doom.d/emacs-application-framework/
enviroment.d/
environment.d/
exercism/
filezilla/
flutter/
fontforge/
ghcup/
git/
go/
gtk-2.0/
gtk-3.0/
helm/
hexchat/
kconf_updaterc
kde.org/
kdeconnect/
kdeglobals
kernel.org/
kglobalshortcutsrc
kritadisplayrc
kritarc
kritashortcutsrc
krusaderrc
ktorrentrc
lf.bak/
light/
maza/
mazadnsmasq.conf
mazalist
modprobed-db.conf
modprobed.db
mupen64plus/
neofetch/
nextjs-nodejs/
ntfy-stamp
obs-studio/
okularpartrc
okularrc
openbox/
pavucontrol.ini
pcmanfm/
pulse/
qBittorrent/
racket/
retroarch/
scc/
snes9x/
spectaclerc
starship.toml
sx/sxrc~
systemd/
termonad/termonad.hs.bak
tmp/
tool_state
transmission-daemon/
transmission/
trashrc
trayer-padding-icon.sh
unity3d/
user-tmpfiles.d/
vlc/
volumeicon/
waybar.bak/
whatscli/
xfce4/
sh.nix/
quicklisp/*
zsh.nix
xmonad/.stack*
xmonad/.stack-work
xmonad/lib/Theme/*.hi
xmonad/lib/Theme/*.o
/xmonad/xmobar/libX11-xcb.a
/xmonad/xmobar/libX11.a
/xmonad/xmobar/xmobar-emacs
/xmonad/xmobar/xmobar-emacs.hi
/xmonad/xmobar/xmobar-emacs.o
/yi/.stack-work/
/xmobar/xmobar
/xmobar/xmobar.hi
/xmobar/xmobar.o
termonad/termonad
termonad/termonad.hi
termonad/termonad.o
